.header {
  background-color: $primary-color-1;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.container {
  background: transparent;
  position: relative;
  z-index: 100;
  transition: 0.1s ease-in-out;

  .borderBottom {
    background-color: rgba(255, 255, 255, 0.16);
    width: 98%;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    height: 1px;
    transform: translateX(1%);
  }

  .content {
    position: relative;
    padding: 0 20px;
    z-index: 3;

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      font-size: 16px;
      font-weight: 600;
      color: $text-color-1;
      transition: 0.15s ease-in-out;

      .controls {
        height: 100%;
        display: flex;
        align-items: center;
        & > * {
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .search {
          transition: 0.3s ease-in-out;
          display: flex;

          & > p {
            margin-left: 8px;
          }

          &:hover {
            color: #fff;
          }
        }

        .notification {
          transition: 0.3s ease-in-out;

          &:hover {
            color: #fff;
          }
        }

        .profile {
          border-radius: 8px;
          border: 2px solid $text-color-1;
          transition: 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;

          &:hover {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);

            border: 2px solid #fff;
            color: #fff;
          }
        }
      }
    }
  }
}

.dropped {
  background-color: #1f1b2e;
  border-radius: 15px 15px 0 0;
}
