.container {
    display: flex;
    min-height: 296px;

    .actions {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        padding-right: 20px;
    }

    .controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
        border-left: 1px solid hsla(0, 0%, 100%, 0.16);
        padding-left: 20px;
        flex-grow: 1;
        .auth {
            width: 100%;
            display: flex;
            flex-direction: column;
            & > * {
                width: 100%;
                & > * {
                    width: 100%;
                }
            }

            & > *:not(:first-child) {
                margin-top: 15px;
            }
        }
    }
}
