.container {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    .icon {
       transition: color .2s;
       cursor: pointer; 
       &:hover {
        color: #7e798f;
       }
    }
    span {
        min-width: 42px;
        font-weight: 700;
        padding: 0 8px;
        text-align: center;
    }
    .positiveLikes {
        color: #73a32f;
    }
    .negativeLikes {
        color: #ff542e;
    }
}