.community {
  display: flex;
  flex-direction: row;
  .socialItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 12px;
    transition: all 0.3s;
    &:first-child {
      margin: 0;
    }
    &:hover {
      background-color: #2e2844;
    }
    &:active {
      background-color: black;
    }
    @include maxQ(tablet-ps) {
      margin-left: 3px;
    }
    .icon {
      color: white;
      width: 16px;
      height: auto;
    }
  }
}