.button {
  outline: none;
  transition: all 0.2s;
  height: 40px;
  border: 0px;
  border-radius: 8px;
  color: white;

  @include maxQ(large) {
    white-space: nowrap;
  }

  &:disabled {
    background-color: #53051f !important;
    color: #59545a !important;
    cursor: default;
  }

  .primaryText {
    font-size: 15px;
    font-weight: 500;
  }

  .preamble {
    color: rgb(181, 179, 186);
    font-size: 10px;
  }

}

.textOnly {
  padding: 9px 42px;

  @include maxQ(large) {
    padding: 5px 20px;
  }
}

.iconOnly {
  width: 40px;
  height: 40px;
}

.iconWithPrimary {
  padding: 9px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.allProps {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  div {
    display: flex;
    text-align: left;
    flex-direction: column-reverse;
  }
}

.primary{
  background-color: $primary-color-2;

  &:hover {
    background-color: $primary-color-2-hover;
  }
  
  &:active {
    background-color: $primary-color-2-active;
  }
}

.accent{
  background-color: $accent-color-1;

  &:hover {
    background-color: $accent-color-1-hover;
  }
  
  &:active {
    background-color: $accent-color-1-active;
  }
}

.lighter {
  background-color: $lighter-color-1;
  width: max-content;

  &:hover {
    background-color: $lighter-color-1-hover;
  }

  &:active {
    background-color: $lighter-color-1-active;
  }
}