.container {
  color: white;
  background-color: $primary-color-2;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: .4rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    @include font(1.2rem, 120%, 500)
  }
  .icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
