@use 'sass:math';

.container {
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.carousel {
  padding: 0.5rem 0;
  overflow: hidden;
}

.carouselTrack {
  z-index: 1;
  display: flex;
  transition: transform ease-out 0.35s;
}

.carouselItem:not(:last-of-type) {
  padding-right: 2.4rem;
  list-style: none;

  @include maxQ(small) {
    padding-right: 1.2rem;
  }
}

.toLeftContainer,
.toRightContainer {
  position: absolute;
  background-color: $accent-purple;
  height: 100%;

  display: flex;
  align-items: center;

  @include onHover() {
    & .iconArrow {
      color: #ffffff;
    }

    cursor: pointer;
  }
}

.toLeftContainer {
  z-index: 2;
  left: 0;

  &.outside {
    transform: translateX(-100%);
  }
}

.toRightContainer {
  z-index: 2;
  right: 0;

  &.outside {
    transform: translateX(100%);
  }
}

.iconArrow {
  width: 5rem;
  height: 5rem;
  color: $primary-white;

  @include onHover() {
    cursor: pointer;
  }
}

.noBackground {
  background-color: unset;
}

.gelatine {
  animation: gelatine 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes gelatine {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
