.container {
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #100e19;
        padding: 20px 0;

        .closePopup {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            width: 40px;
            height: auto;
            color: #a5a1b2;
            transform-origin: bottom;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                color: #fff;
            }
        }

        .title {
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
            font-style: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .content {
        margin: 0 auto;
        max-width: 500px;
        margin: 0 auto;

        .inner {
            display: flex;
            flex-direction: column;
            padding: 0 20px;

            .message {
                width: 100%;
                margin-top: 20px;
                align-self: flex-start;
            }

        }
    }
}
