// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$font-serif: Arial, "Helvetica Neue Light", sans-serif !default;
$font-sans: Georgia, "Times New Roman", Times, serif !default;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Colors
$primary-color-1: #100e19;
$primary-color-2: #1f1b2e;
$primary-color-2-hover: rgb(46, 40, 68);
$primary-color-2-active: #000;

$accent-color-1: #ea003d;
$accent-color-1-hover: #ff0f4d;
$accent-color-1-active: #c10032;
// Explicitly set colors
$primary-black: #1b1a17;
$primary-gray: #555248;
$primary-red: #d4b098;
$primary-white: #eae3d4;
$primary-green: #e6f4f1;
$accent-green: #66c05d;

//breakpoints
$break-xs: 320px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1280px;
$break-xl: 1600px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

//variables for button component
$button-green: #66c05d;
$button-gray: #555248;
$button-red: #d4b098;
$button-white: #ffffff;
