.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 100px 0 48px 0;
  display: flex;
  flex-direction: row;
}
.container .inner {
  width: 50%;
  padding: 0 12px;
  margin-left: 152px;
}
.container .inner h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}