@use 'sass:math';

.container {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.carousel {
  padding: 0.5rem 0;
  overflow: hidden;
}

.carouselTrack {
  z-index: 1;
  display: flex;
  transition: transform ease-out 0.25s;
}

.carouselItem {
  padding-right: 1.2rem;
  list-style: none;
}

.toLeftContainer,
.toRightContainer {
  position: absolute;
  background-color: $accent-purple;
  height: 100%;

  display: flex;
  align-items: center;

  overflow: hidden;

  @include onHover() {
    & .iconArrow {
      color: #ffffff;
    }

    cursor: pointer;
  }
}

.toLeftContainer {
  z-index: 2;
  left: -1px;

  &.outside {
    transform: translateX(-100%);
  }
}

.toRightContainer {
  z-index: 2;
  right: -1px;

  &.outside {
    transform: translateX(100%);
  }
}

.iconArrow {
  width: 3rem;
  height: 3rem;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  color: $primary-white;

  @include onHover() {
    cursor: pointer;
  }
}

.noBackground {
  background-color: unset;
}

.gelatine {
  animation: gelatine 0.5s linear;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
