.content {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 330px;
}
.content h3 {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 8px;
}
.content .list {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  justify-content: space-between;
  max-width: 20%;
}
.content .sliders {
  max-width: 60%;
  padding: 0 20px;
}
.content .subscription {
  margin-left: auto;
}