.slideContainer {
  width: 100%;
  height: 100%;
  margin-right: 1.6rem;
  .slideContent {
    border-radius: 2.6rem;
    width: 100%;
    height: 100%;
    padding: 3.2rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    .slideInfo {
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: calc(40% + 25.6px);
      .title {
        height: auto;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 2.4rem;
      }
      .buttonBlock {
        width: 65%;
        @include maxQ(tablet-s) {
          display: none;
        }
      }
    }
  }
  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.6rem;
    pointer-events: none;
    z-index: 0;
  }
  .fade {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 2.6rem;
  }
}
