.inputBody {
  position: relative;
  background-color: #d9d7e0;
  color: #1f1b2e;
  width: 100%;
  height: 40px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
}
.inputBody .placeholder {
  pointer-events: none;
  color: rgb(165, 161, 178);
  transition: all 0.08s ease-in-out;
  position: absolute;
  left: 12px;
  top: 10px;
}
.inputBody .editingPlaceholder {
  transform: translate3d(-8px, -8px, 0) scale(0.86666667) perspective(1px);
}
.inputBody input {
  border-radius: 8px;
  outline: none;
  background-color: #d9d7e0;
  color: #1f1b2e;
  width: 100%;
  height: 40px;
  padding: 18px 40px 2px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}
.inputBody input:focus {
  cursor: auto;
}
.inputBody .inputIcon {
  cursor: pointer;
  pointer-events: none;
  width: 20px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(165, 161, 178);
}
.inputBody .closeIcon {
  pointer-events: all;
  transition: color 0.2s;
}
.inputBody .closeIcon:hover {
  color: black;
}

.inputBodyComment {
  width: 100% !important;
}

.lengthError {
  background-color: #fff3f0 !important;
}
.lengthError .placeholder {
  color: #ff8469;
}
.lengthError input {
  color: #ff542e;
  background-color: #fff3f0 !important;
}