.container {
    -webkit-overflow-scrolling: touch;
    background-color: #100e19;
    bottom: 0;
    // display: none;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    scroll-behavior: smooth;
    top: 0;
    z-index: 100;
    color: #fff;
    font-size: 25px;

    .inner {
        padding: 36px;
        padding-bottom: calc(72px + env(safe-area-inset-bottom));
        padding-top: calc(72px + env(safe-area-inset-top));
        max-width: $max-width;
        margin: 0 auto;

        .navigation-list {
            & > a:not(:first-child) {
                h3 {
                    margin-top: 20px;
                }
            }

            & > *:not(a) {
                margin-top: 20px;
            }

            & > a {
                transition: 0.3s ease-in-out;

                &:hover {
                    opacity: 0.72;
                }
            }
        }

        .navigation-group {
            padding: 32px 0;
            border-bottom: $border-primary;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            &:last-child {
                border-bottom: none;
            }
        }

        .subscription {
            display: flex;
            justify-content: space-between;

            & > * {
                width: calc(50% - 12px);
            }
        }

        .ratings {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .about {
            .code {
                margin: 2rem 0 1.6rem 0;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                

                .icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .footer {
            padding-bottom: 0;

            span {
                display: block;
                margin-top: 4rem;
                color: hsla(0,0%,100%,.48);
            }
        }
    }
}

.accordion {
    margin-top: 15px;

    &:nth-last-child(1) {
        margin: 0;
    }
}

@include maxQ("tablet-s") {
    .container {
        .inner {
            .subscription {
                flex-direction: column;

                & > * {
                    width: 100%;
                }

                & > *:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}
