.container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #3e3758;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
    min-height: 108px;
    height: 100%;
    justify-content: space-between;

    &:hover {
        background-color: #595079;
    }

    .icon {
        color: $text-color-1;
    }

    & > h3 {
        color: #fff;
        font-size: 15px;
    }

    .activeBulb {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        box-shadow: 0 2px 8px rgba(234, 0, 61, 0.8);
        background-color: #ea003d;
    }

    .description {
        color: $text-color-1;
        font-size: 13px;
    }
}
