.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    color: $text-color-1;
    font-size: 15px;

    & > p {
        margin-top: 20px;
    }
}