.container {
  display: flex;
  flex-direction: column;
}
.container li {
  position: relative;
  padding-left: 36px;
  margin-top: 28px;
}
.container li:first-child {
  margin: 0;
}
.container li .itemHeader {
  color: #a5a1b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container li .itemHeader cite {
  margin-right: 8px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container li .itemHeader time {
  white-space: nowrap;
  font-size: 13px;
  line-height: 16px;
}
.container li .itemHeader .likesCounter {
  margin-left: auto;
}
.container li .itemBody p {
  margin: 4px 0;
  padding-right: 82px;
}
.container li .itemBody span {
  line-height: 22px;
  display: block;
  margin-top: 8px;
  cursor: pointer;
}

.moreComments {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}