@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.wrapper {
  height: 100%;
  max-width: $max-width;
  padding: 0 32px;
  margin: 0 auto;

  @include maxQ(large) {
    padding: 0 32px;
  }
}

// use for bold text accent
.span-bold {
  font-weight: 700;
}

//input styles
.invalid {
  outline: 2px solid rgb(255, 80, 49) !important;
  outline-offset: -2px;
}

::-webkit-scrollbar {
  background-color: rgb(194, 194, 194);
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-gray;
}

.overflow-hidden {
  overflow: hidden;
}

body,
#root,
#__next {
  font-family: $font-sans;
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}
