.container {
  margin-top: 28px;
}
.container:first-child {
  margin: 0;
}
.container li {
  position: relative;
  padding-left: 36px;
}
.container li:first-child {
  margin: 0;
}
.container li .itemHeader {
  color: #a5a1b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container li .itemHeader cite {
  margin-right: 8px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container li .itemHeader time {
  white-space: nowrap;
  font-size: 13px;
  line-height: 16px;
}
.container li .itemHeader .likesCounter {
  margin-left: auto;
}
.container li .itemBody p {
  margin: 4px 0;
  padding-right: 82px;
}
.container li .itemBody .options {
  display: flex;
  flex-direction: row;
}
.container li .itemBody .options span {
  color: #d9d9da;
  line-height: 22px;
  margin-top: 8px;
  cursor: pointer;
  transition: color 0.2s;
}
.container li .itemBody .options span:last-child {
  margin-left: auto;
}
.container li .itemBody .options span:hover {
  color: white;
}
.container li .itemBody .replyForm {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}