.container {
  margin-top: 28px;
  &:first-child {
    margin: 0;
  }
  li {
    position: relative;
    padding-left: 36px;
    &:first-child {
      margin: 0;
    }
    .itemHeader {
      color: #a5a1b2;
      display: flex;
      flex-direction: row;
      align-items: center;
      cite {
        margin-right: 8px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        @include maxQ(tablet-s) {
          margin-right: 2px;
        }
      }
      time {
        white-space: nowrap;
        font-size: 13px;
        line-height: 16px;
      }
      .likesCounter {
        margin-left: auto;
      }
    }
    .itemBody {
      p {
        margin: 4px 0;
        padding-right: 82px;
      }
      .options {
        display: flex;
        flex-direction: row;
        span {
          color: #d9d9da;
          line-height: 22px;
          margin-top: 8px;
          cursor: pointer;
          transition: color 0.2s;
          &:last-child {
            margin-left: auto;
          }
          &:hover {
            color: white;
          }
        }
      }
      .replyForm {
        margin-top: 12px;
        display: flex;
        gap: 6px;
      }
    }
  }
}
