.container {
  max-width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;

  @include onHover() {
    cursor: pointer;
    .name,
    .surname {
      color: white;
    }
  }
}

.avatarContainer {
  position: relative;
  width: 8.8rem;
  height: 8.8rem;
  object-fit: cover;

  border-radius: 100%;
  overflow: hidden;

  @include maxQ(small) {
    width: 6.5rem;
    height: 6.5rem;
  }
}

.avatarContainerLarge {
  width: 12.8rem;
  height: 12.8rem;
  @media (max-width: 600px) {
    width: 6.5rem;
    height: 6.5rem;
  }
}

.avatar {
  object-fit: cover;
}

.name,
.surname {
  font-family: $font-sans;
  color: rgba($color: white, $alpha: 0.85);
  @include font(1.3rem, 1.6rem, 500);

  @extend %transition;

  @include maxQ(small) {
    @include font(1.1rem, 1.3rem, 500);
  }
}

.largeText {
  @include font(1.5rem, 2rem, 500);
}

.role {
  font-family: $font-sans;
  color: $primary-lightgray;
  @include font(1.3rem, 1.6rem, 400);

  @include maxQ(small) {
    @include font(1.1rem, 1.3rem, 400);
  }
}
