.container{
    display: block;
    width: 8rem;
    height: 12.2rem;
    position: relative;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;

    .inner{
        object-fit: cover;
    }
}