.container {
  width: 100%;
  background-color: $primary-color-2;
  padding: 1.6rem;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.filtersByBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;

  & div {
    max-width: 63rem;
  }

  & > div {
    max-width: 23%;
  }

  @include maxQ(medium) {
    & div {
      max-width: 100%;
    }

    & > div {
      max-width: 46%;
    }
  }

  @include maxQ(small) {
    justify-content: flex-start;
    & > div {
      max-width: 100%;
    }
  }
}

.filterTags {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.genreListsBlock {
  margin-top: 1.6rem;
  padding: 1.2rem 0;
  border-top: 1px solid $primary-lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
