.interactive {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 12px;
  top: 18px;
  z-index: 100;
}
.interactive .icon {
  width: 20px;
  height: auto;
  padding-bottom: 5px;
}
.interactive .icon:hover {
  color: rgb(212, 210, 219);
}