* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  overflow-y: overlay;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

input::-ms-clear {
  display: none;
}

@media (hover: hover) {
  a,
  button {
    cursor: pointer;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@layer base {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.wrapper {
  max-width: 1240px;
  padding: 0 12px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .wrapper {
    padding: 0 12px;
  }
}

.span-bold {
  font-weight: 700;
}

.invalid {
  outline: 2px solid rgb(255, 80, 49) !important;
  outline-offset: -2px;
}

::-webkit-scrollbar {
  background-color: rgb(194, 194, 194);
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #555248;
}

.overflow-hidden {
  overflow: hidden;
}

body,
#root,
#__next {
  font-family: "Inter", "Times New Roman", Times, serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Iter", sans-serif;
}