.list {
  li {
    color: rgba(255, 255, 255, 0.48);
    margin-top: 8px;
    &:first-child {
      margin: 0;
    }
    a {
      transition: color 0.2s;
      &:hover {
        color: white;
      }
      &:active {
        color: rgb(185, 184, 187);
      }
    }
  }
}
