.container {
  background-color: rgba($color: $primary-lightgray, $alpha: 0.16);

  padding: 1rem;
  border-radius: 1.2rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  @include onHover() {
    cursor: pointer;
  }

  @include maxQ(medium) {
    max-width: 35rem;
    align-self: flex-start;
  }

  @include maxQ(small) {
    align-self: center;
    width: max-content;
    flex-direction: column;
  }
}

.ratingPlate {
  background-color: #73a32f;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 1rem;

  display: grid;
  align-items: center;
  justify-items: center;

  font-family: $font-sans;
  color: white;
  @include font(2.4rem, 2.8rem, 700);

  @include maxQ(medium) {
    @include font(2rem, 2rem, 500);
  }
}

.ratingDescription {
  flex: 1 0 auto;

  font-family: $font-sans;

  @include maxQ(small) {
    display: none;
  }

  .caption {
    color: white;
    @include font(1.5rem, 2rem, 500);

    @include maxQ(medium) {
      @include font(1.2rem, 130%, 500);
    }
  }

  .subtitle {
    color: $primary-lightgray;
    @include font(1.5rem, 2rem, 400);

    @include maxQ(medium) {
      @include font(1.2rem, 130%, 400);
    }
  }

  .ratingCount {
    color: $primary-lightgray;
    @include font(1.3rem, 1.6rem, 400);

    @include maxQ(medium) {
      @include font(1.2rem, 130%, 400);
    }
  }
}

.rateButton {
  background-color: transparent;
  padding: 0.3rem 0.7rem;
  border-radius: 0.6rem;
  border: 1px solid $primary-lightgray;

  font-family: $font-sans;
  color: white;
  @include font(1.3rem, 1.6rem, 500);

  transition: all ease-out 0.2s;

  @include onHover() {
    border-color: white;
  }

  @include maxQ(medium) {
    @include font(1.2rem, 130%, 500);
  }
}
